@model MyBlog.Models.Posts

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Edit</h2>

<div id="templatemo_content" style="min-height: 400px">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { style = "width:600px", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <div class="container">
        <div class="post_box">
            <div class="editor-label">
                @Html.Label("Edit Post Title")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="editor-label">
                @Html.Label("Edit Post")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
            <div class="editor-label">
                @Html.Label("Change Post Category")
            </div>
            <div>
                <select id="Category" name="Category" required="Required">
                    <option value="@Model.Category">@Model.Category</option>
                    @if (@Model.Category.Equals("Technology") != true)
                    {
                        <option value="Technology">Technology</option>
                    }
                    @if (@Model.Category.Equals("Music") != true)
                    {
                        <option value="Music">Music</option>
                    }
                    @if (@Model.Category.Equals("Sport") != true)
                    {
                        <option value="Sport">Sport</option>
                    }
                    @if (@Model.Category.Equals("Entertaintment") != true)
                    {
                        <option value="Entertaintment">Entertaintment</option>
                    }
                    @if (@Model.Category.Equals("Social") != true)
                    {
                        <option value="Social">Social Live</option>
                    }
                </select>
            </div>
            <div class="editor-label">
                @Html.Label("Browse New Post Image")
            </div>
            <div class="editor-field">
                <input id="PhotoLocation" title="Upload a post image"
                        type="file" name="file" />
            </div>
            <p>
                <input type="submit" value="Save Changes" />
                <a href="~/User/Index"><input type="button" value="Cancel" /></a>
            </p>
        </div>
    </div>
    }
</div>