@model IEnumerable<MyBlog.Models.Posts>
@using MyBlog.Models;

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>All Posts</h2>
<div id="templatemo_content" style="min-height: 400px">
    @foreach (var item in Model)
    {
        <div>

            <div class="post_box">
                <h2>@Html.ActionLink(item.Title, "PostDetail", "Display", new { @id = item.Id }, null)</h2>
                <div class="news_meta">Posted by @Html.DisplayFor(modelItem => (new BlogContext()).user.Find(item.UserId).Name), at @Html.DisplayFor(modelItem => item.Date) @Html.ActionLink("Comments", "Index", "User")</div>
                <br />
                <img src="~/Images/@item.PhotoLocation" alt="@item.PhotoLocation" width="500px" />
                <p align="justify">
                    @{
        string str = item.Body.Substring(0, 300);
                    }

                    @Html.DisplayFor(modelItem => str)@Html.ActionLink(" continue to read", "PostDetail", "Display", new { @id = item.Id }, null)
                </p>
                <div class="cleaner"></div>
            </div>
        </div>
    }
</div>

