@model MyBlog.Models.Posts

@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Post Detail</h2>

<div id="templatemo_content" style="min-height: 400px">
    <div>
        @if (ViewData["Error"] == null)
        {
            <div class="post_box" style="width:600px">
                <h2>@Html.ActionLink(Model.Title, "PostDetail", "Display", new { @id = Model.Id }, null)</h2>
                <div class="news_meta">Posted by @Html.DisplayFor(modelItem => (new MyBlog.Models.BlogContext()).user.Find(Model.UserId).Name), at @Html.DisplayFor(modelItem => Model.Date) | Category: @Html.ActionLink(Model.Category, "SearchCategory", "Display", new { CategoryName = Model.Category }, null)</div>
                <br />
                <img src="~/Images/@Model.PhotoLocation" alt="@Model.PhotoLocation" width="600px" />
                <p align="justify" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">
                    <br />
                    @Html.DisplayFor(modelItem => Model.Body)
                </p>
                <div class="cleaner"></div>
            </div>
        }
        else
        {
            <h2>
                @ViewData["Error"]
            </h2>
        }
    </div>
</div>